body{
    background-color: #84CEEB ;
}
.header{
    background-color: #5680E9;
    height: 100px;
}
h1{
    color: #d4d4d4;
}
.header img{
    height: 80px;
}

.completeTask{
    background-color: rgb(124, 223, 157);
}

.taskHeader{
    background-color: #5AB9EA;
}
.taskInProgress{
    background-color: rgb(243, 226, 129);
}

#taskInput{
    background-color: #e4fffd;
    text-align: center;
}
